body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
}

.App {
  text-align: left;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

h1 {
  margin: 0;
}

.navbar-brand{
  font-size: x-large !important;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: relative;
  bottom: 0;
}

.nav-link{
  color:white !important;
  font-weight: bold !important;
}

.menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.home_banner_area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Adjust z-index as needed */
    background-color: #f4f4f4; /* Background color fallback */    
    background-position: center;
    background-size: cover;
}

.home_banner_area .banner_inner {
  width: 100%;
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
}
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
}
}

@media (min-width: 768px){
  .container {
    max-width: 720px;
}
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
}
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}


.home_banner_area .banner_inner .col-lg-7 {
  vertical-align: middle;
  align-self: center;
}

.home_banner_area .banner_inner .banner_content {
  text-align: left;
  padding:10%;
}

.home_banner_area .banner_inner .banner_content h3 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.home_banner_area .banner_inner .banner_content h1 {
  margin-top: 20px;
  font-size: 65px;
  line-height: 60px;
  margin-bottom: 25px;
}

.home_banner_area .banner_inner .banner_content h5 {
  font-size: 24px;
  margin-bottom: 35px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.home_banner_area .banner_inner .home_right_img {
  padding-top: 60px;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7bcc8; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5971ae; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}